@font-face {/*police de titre*/
    font-family: Exquisite; 
    src: url("police/Exquisite-3K88.woff2"), url("police/Exquisite-3K88.woff");
    format:("woff");
    font-weight: 400;

}

body{
    background-color:#05294F;
    font-family: Roboto, sans-serif;
    color: #E5E5E5;

}
h1{
    font-family: Exquisite, sans-serif;
    font-size: 2rem;
    text-align: center;
    border: solid 1px red;

}

nav {
    display:inline-block;
    border: solid 1px red;

}
ul{
    list-style-type: none;
    margin-left: none;
}
nav img{
    height: 150px;
    width: 150px;
}
.header{
    width: 80%;
    height: 150px;
    background-color: #12263D;
    padding:20px 20px 20px 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px red;
    font-size: 1.2rem;



}
.character{
    height: 440px;
    max-width: 220px;
    border: solid 1px red;
    margin-left: auto;
    margin-right: auto;  
}

.test{
    display: flex;
    align-content: space-between;
    border: solid 1px yellow;

}